body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #f9faf8;
  background-size: 1260px;
  padding: 0px;
  margin: 0px;
  background-color: aliceblue;
  transition: background-color 0.3s ease-in-out;
}

body.dark-mode {
  font-family: Roboto, Arial, sans-serif;
  background-size: 1260px;
  padding: 0px;
  margin: 0px;
  background-color: #1f2937;
  color: #f9faf8;
  transition: background-color 0.3s ease-in-out;
}

body.dark-mode a#random-gif {
  color: #f9faf8;
}

body.dark-mode .gif-info a {
  color: #f9faf8;
}

body.dark-mode .favorite {
  color: #f9faf8;
}

body.dark-mode #search{
  display: flex;
  flex-grow: 0.5;
  background-color: rgb(10, 16, 26);
  color: white;
  font-size: 34px;
  border: 2px solid rgb(39, 74, 214);
}

body.dark-mode form {
  height: 30px;
  background-color: rgb(10, 16, 26);
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid rgb(39, 74, 214);
}

body.dark-mode nav > a {
  color: black;
}

body.dark-mode nav a:hover {
  color: rgb(239, 223, 247);
}

body.dark-mode footer {
  color: black;
}

#darkModeToggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0;
}

#darkModeToggle:hover {
  color: rgb(239, 223, 247);
}

#content-container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  min-height: 83.3vh;
}
#content-container img {
  margin: 0px;
  display: block;
  border-radius: 15%;
}
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#home h2 {
  margin-top: 0;
  font-style: italic;
}
#logo {
  width: 120px;
}
#trending-gifs,
#search-gifs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 10px;
}
#trending-gifs > div,
#search-gifs > div{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
  cursor: pointer;
  position: relative;
}
div.gif:hover span.fa,
div.gif:hover span.fa {
  display: block;
}
div.gif:hover span.favorite,
div.gif:hover span.favorite {
  display: block;
}
.favorite {
  position: absolute;
  cursor: pointer;
  color: white;
  display: none;
  left: 1px;
  font-size: 20px;
}
#gif-detailed {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gif-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}
#favorites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
#favorites-gifs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
#favorites-gifs > div{
  width: 100%;
  height: 100%;
  border-radius: 3%;
  cursor: pointer;
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
span.fa {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 4px;
  color: white;
  display: none;
}
div#uploaded {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
}
div#random-gif-container > .gif,
div#uploaded > .gif {
  cursor: pointer;
}

/* Nav bar */

nav {
  display: flex;
  justify-content: space-around;
  color: #f9faf8;
  font-size: 18px;
  align-items: center;
  background-image: url("../src/assets/background-photo.jpg");
  background-size: 800px;
}

nav > a {
  display: inline-block;
  position: relative;
  color: white;
}

nav > a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
ul {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 8px;
  color: #1f2937;
}
a {
  text-decoration: none;
  color: #081a2f;
}
a#random-gif {
  color: #1f2937;
}
#search{
  display: flex;
  flex-grow: 0.5;
  background-color: rgb(245, 239, 229);
  font-size: 34px;
  border: 2px solid rgb(138, 120, 255);
}
nav a:hover {
  color: rgb(110, 78, 128);
}

#trending-view{
  display: flex;
  justify-content: center;
}

div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3%;
}

form {
  height: 30px;
  background-color: rgb(253, 252, 216);
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid rgb(138, 120, 255);
}


header {
  display: flex;
  justify-content: center;
  height: 39px;
  background: cornflowerblue;opacity: 0.7;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-image: url("../src/assets/background-photo.jpg");
  color: white;
}